@use 'variables'
@use 'mixins'

.about
    @include mixins.flex-center
    @include mixins.page
    @include mixins.mobile
      height: 160vh
    @include mixins.desktop
      height: 200vh

    .about-container
      @include mixins.flex-center
      gap: 5%

      @include mixins.mobile
        display: grid
        grid-template-columns: 2fr 
        grid-template-rows: 1fr
      @include mixins.tablet
        display: grid
        grid-template-columns: 2fr 
        grid-template-rows: 1fr
      @include mixins.laptop
        display: grid
        grid-template-columns: 1fr 1fr
        grid-template-rows: 1fr
        
          

      .about-content
        @include mixins.flex-center
        flex-direction: row
        background: variables.$yellow-cyberpunk
        border: 1px solid variables.$yellow-dark-cyberpunk
        box-shadow: 1px 1px 10px variables.$yellow-dark-cyberpunk
        width: 45vw
        padding: 5pc
        gap: 5rem
        --curve-size: 2em
        clip-path: polygon(0% var(--curve-size),var(--curve-size) 0,100% 0,100% calc(100% - var(--curve-size)),calc(100% - var(--curve-size)) 100%,0 100%)

        @include mixins.mobile
          width: 81vw
          display: flex
          flex-direction: column
        @include mixins.tablet
          width: 91vw
          display: flex
          flex-direction: column
        @include mixins.laptop
          width: 45vw
          display: flex
          flex-direction: column
          padding: 4pc
        @include mixins.desktop
          margin-left: 7rem
          width: 40vw
          display: flex
          flex-direction: column
          padding: 4pc
        @include mixins.desktop-large
          margin-left: 7rem
          width: 50vw
          display: flex
          flex-direction: column
          padding: 4pc
          

        .title-page
          font-style: italic
          font-size: 4rem
          color: variables.$blue-dark-cyberpunk
          

        .about-btn
          display: flex
          align-items: flex-end
          flex-direction: column
          gap: 18px

          .paragraph-page
            font-size: 1rem
            font-weight: 500
            color: variables.$blue-dark-cyberpunk
            text-align: justify
            @include mixins.mobile
              width: 50vw
            @include mixins.tablet
              width: 80vw
            @include mixins.laptop
              width: 30vw


          .btn-cv
            background: variables.$blue-dark-cyberpunk
            color: variables.$buttom-letter-color
            border: 1px solid variables.$blue-dark-cyberpunk
            padding: 10px
            font-size: 14px
            font-weight: 500
            --curve-size: .4em
            --border-width: .125em
            clip-path: polygon(0% var(--curve-size),var(--curve-size) 0,100% 0,100% calc(100% - var(--curve-size)),calc(100% - var(--curve-size)) 100%,0 100%)
            

            &:hover
              background: variables.$yellow-dark-cyberpunk
              color: variables.$black-cyberpunk
              border: 1px solid variables.$blue-dark-cyberpunk
              font-weight: 500
              
          
          .about-socials
            display: flex
            align-items: center
            flex-direction: row-reverse
            gap: 10px

            i
              color: black
              font-size: 17px
              padding: 10px
              border: 1px solid black
              border-radius: 100%

              &:hover
                background: variables.$yellow-dark-cyberpunk
                color: variables.$blue-dark-cyberpunk
                

      .about-tools
        display: flex
        align-items: center
        flex-direction: row-reverse
        gap: 1px
        
          
        
        
        .title-page-tools
          text-align: start
          font-size: 4rem
          rotate: 90deg
          text-decoration: line-through 4px solid variables.$pink2-cyberpunk
          color: variables.$cyan-cyberpunk
          text-shadow: 1px 2px 4px variables.$cyan-cyberpunk

          @include mixins.mobile
            font-size: 3rem
            

      .about-tools-card
        display: grid
        grid-template-columns: 1fr 1fr 
        grid-template-rows: 1fr
        gap: 5px
        
        .tools
          display: flex
          justify-content: center
          background: variables.$card-color
          border: 1px solid variables.$cyan-cyberpunk
          padding: 25px 40px
          font-size: 1.4rem
          color: variables.$cyan-cyberpunk
          background: linear-gradient(180deg, rgba(0, 54, 56, 0.66) 0%, rgba(0, 54, 56, 0.12) 100%)

          &:hover
            background: linear-gradient(180deg, rgba(0, 54, 56, 0.911) 0%, rgba(0, 54, 56, 0.411) 100%)
            color: variables.$pink2-cyberpunk
            