@use 'variables'
@use 'mixins'

.contact
    @include mixins.flex-center
    @include mixins.page
    background: variables.$yellow-cyberpunk
    @include mixins.mobile
      height: 100vh 
      justify-content: center
                
              
    .contact-container
      display: flex
      flex-direction: row
      align-items: center 
      flex-wrap: wrap 
      gap: 30px
      @include mixins.mobile
          justify-content: center
        
      .contact-title
        @include mixins.flex-column
        
        .title-contato
          font-size: 5rem
          font-weight: 900
          color: variables.$black-cyberpunk
          line-height: 60px
        
          

        h3
          font-size: 2rem
          font-weight: 700
          color: variables.$black-cyberpunk 
          @include mixins.mobile
            font-size: 1rem

        i
          margin-right: 6px
          font-size: 1.8rem
          color: variables.$pink2-cyberpunk
           
  
      .contact-form
        form
          display: flex
          flex-direction: column
          align-items: center
          padding: 55px
          gap: 10px 
          background: variables.$border-color
          border: 3px solid variables.$cyan-cyberpunk
          justify-items: start
          animation: glitch1 3s infinite
          
        
          &:hover
            animation: none
        
        form [type="submit"]
          background: variables.$cyan-cyberpunk
          border: 1px solid #fcfc0300
          font-weight: 500
          color: variables.$title-color
          --curve-size: .6em
          --border-width: .125em
          clip-path: polygon(0% var(--curve-size),var(--curve-size) 0,100% 0, 100% calc(100% - var(--curve-size)),calc(100% - var(--curve-size))   100%,0 100%)
          &:hover
            background: variables.$cyan-glass-cyberpunk
            color: variables.$cyan-cyberpunk
            font-weight: 500
            border: 1px solid variables.$cyan-cyberpunk

  
        input
          width: 13rem
          height: 50px
          font-size: 1em
          background: variables.$border-color
          border: 1px solid variables.$cyan-cyberpunk
          --curve-size: .6em
          padding: 10px
          clip-path: polygon(0% var(--curve-size),var(--curve-size) 0,100% 0, 100% calc(100% - var(--curve-size)),calc(100% - var(--curve-size))   100%,0 100%)
          color: variables.$cyan-cyberpunk
          text-shadow: 1px 1px 6px variables.$cyan-cyberpunk
          
          &::placeholder 
            font-weight: 300
            letter-spacing: 0.1em
            padding: 10px
            border-radius: none
            font-size: 14px
            color: variables.$cyan-cyberpunk
            text-shadow: 1px 1px 6px variables.$cyan-cyberpunk

    