@use 'variables'
@use 'mixins'


.header
  flex-direction: column
  display: flex
  position: fixed
  padding: 1.5rem 0
  margin: 0 auto
  height: 110vh
  align-items: center
  background: none
  z-index: 1000
 
  
  justify-content: center
  @include mixins.container

  @include mixins.mobile
    position: fixed
    display: flex
    width: 100vw
    height: 99px
    bottom: 0px
    background: variables.$fundo-color

  &-brand // .header-brand
    position: absolute
    top: 20px
    color: variables.$pink2-cyberpunk
    padding: 30px 20px
    // color: variables.$text-color-dark - dark mode
    font-weight: 400
    font-family: "PT Sans" sans-serif
    font-size: 1.5rem
    border: 2px solid variables.$pink2-cyberpunk
    background: variables.$black-cyberpunk
    
    @include mixins.mobile
      display: none
      
       
      
    &:hover
      color: variables.$black-cyberpunk
      background: variables.$pink2-cyberpunk
      border: 2px solid variables.$pink2-cyberpunk
      text-decoration: line-through
     

  &-navbar // .header-navbar
    ul
      height: 100%
      flex-direction: column
      border: 2px solid variables.$pink2-cyberpunk
      background: linear-gradient(90deg, #27080D 0%, #070208 89.6%)
      padding: 3rem 10px
      
      @include mixins.flex-center
      @include mixins.mobile
        flex-direction: row
        padding: 1px
      li 
        margin: 2rem
        font-size: 1.1rem

        i
          cursor: pointer
          transition: .8s
          color: variables.$pink2-cyberpunk
          &:hover
            transform: scale(1.140)  
            transition: .4s
            color: variables.$pink2-cyberpunk
            text-decoration-line: line-through

          
