@use 'variables'
@use 'mixins'



.home
    
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    @include mixins.page
    
 
    .home-title
       font-size: 11rem
       font-style: italic
       -webkit-text-stroke-width: 1px
       -webkit-text-stroke-color: variables.$pink2-cyberpunk
       text-shadow: 0px 2px 10px variables.$alert-cyberpunk
       font-weight: 900 
       cursor: pointer
       transition: ease 1s
       @include mixins.mobile
          font-size: 4rem
       
       .letterNeon
          color: variables.$black-cyberpunk
          
          &:hover
            animation: letterNeon 1s forwards
            
    
    .home-subtitle
       font-size: 4rem
       cursor: pointer
       font-weight: 300   
       font-family: 'Kanit', sans-serif
       
       @include mixins.mobile
          font-size: 2rem
       
       .letterNeon
        color: variables.$pink2-cyberpunk
        text-shadow: 0px 2px 30px variables.$red-cyberpunk
        
        &:hover
          color: black
          background-color: variables.$pink2-cyberpunk
          
          transition: none
          
          @include mixins.letterNeon 
 
            


    .text
      color: variables.$cyan-cyberpunk
      font-weight: 400
      text-transform: uppercase
      margin: 4px 10px
      line-height: 40px

    .home-btn
      margin: 30px
      transition: .5s
      cursor: pointer
      
        
      @include mixins.btn
      
      &:hover
        width: 200px
        transition: .2s  
        background: variables.$pink2-cyberpunk
        color: variables.$black-cyberpunk
        
        font-weight: 400
        border: 1px inset variables.$pink2-cyberpunk
        --curve-size: .5em
        --border-width: .125em
        clip-path: polygon(0% var(--curve-size),var(--curve-size) 0,100% 0,100% calc(100% - var(--curve-size)),calc(100% - var(--curve-size)) 100%,0 100%)