$fundo-color: #0e0e0e
$secondary-color: #a8a8a8
$title-color: #313131
$bg-color: #ffffff
$container-width: 1170px
$bg-dark-mode: #151515
$text-color-dark: #fff
$text-color-h1: #FCEE0A

$border-color: #000000bb

$yellow-cyberpunk: #F8D233
$yellow-dark-cyberpunk: #ffbb00
$green-cyberpunk: #00ff6a
$cyan-cyberpunk: #63FCFA
$cyan-glass-cyberpunk: #99E7EB
$pink2-cyberpunk: #f74846
$alert-cyberpunk: #ff00554b
$red-cyberpunk: #990101
$red-glass-cyberpunk: #791A18

$black-cyberpunk: #030000c7
$blue-dark-cyberpunk: #000841

$buttom-bg: #0c0c0c
$buttom-letter-color: #f7f7f7

$card-color: #0e0e0e
$header-fundo: #0e0e0e