@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Saira:ital,wght@0,300;0,400;0,500;0,600;0,700;1,500&family=Titillium+Web:ital,wght@0,300;0,400;0,600;0,700;0,900;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
@-webkit-keyframes borderOf {
  0% {
    outline: 1px double #f7466c;
  }
  50% {
    outline: 7px double #f7466c;
  }
  100% {
    outline: 1px double #f7466c;
  }
}
@keyframes borderOf {
  0% {
    outline: 1px double #f7466c;
  }
  50% {
    outline: 7px double #f7466c;
  }
  100% {
    outline: 1px double #f7466c;
  }
}
@-webkit-keyframes alert {
  0% {
    color: rgba(3, 0, 0, 0.7803921569);
  }
  50% {
    color: #f7466c;
    opacity: 2;
  }
  100% {
    color: rgba(3, 0, 0, 0.7803921569);
  }
}
@keyframes alert {
  0% {
    color: rgba(3, 0, 0, 0.7803921569);
  }
  50% {
    color: #f7466c;
    opacity: 2;
  }
  100% {
    color: rgba(3, 0, 0, 0.7803921569);
  }
}
@-webkit-keyframes alertBackground {
  0% {
    background: #99E7EB;
  }
  50% {
    background: #f7466c;
  }
  100% {
    background: rgba(255, 0, 85, 0.2941176471);
  }
}
@keyframes alertBackground {
  0% {
    background: #99E7EB;
  }
  50% {
    background: #f7466c;
  }
  100% {
    background: rgba(255, 0, 85, 0.2941176471);
  }
}
@-webkit-keyframes glitch1 {
  0% {
    transform: none;
    opacity: 1;
  }
  7% {
    transform: skew(-0.5deg, -0.9deg);
    opacity: 0.75;
  }
  10% {
    transform: none;
    opacity: 1;
  }
  27% {
    transform: none;
    opacity: 1;
  }
  30% {
    transform: skew(0.8deg, -0.1deg);
    opacity: 0.75;
  }
  35% {
    transform: none;
    opacity: 1;
  }
  52% {
    transform: none;
    opacity: 1;
  }
  55% {
    transform: skew(-1deg, 0.2deg);
    opacity: 0.75;
  }
  50% {
    transform: none;
    opacity: 1;
  }
  72% {
    transform: none;
    opacity: 1;
  }
  75% {
    transform: skew(0.4deg, 1deg);
    opacity: 0.75;
  }
  80% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}
@keyframes glitch1 {
  0% {
    transform: none;
    opacity: 1;
  }
  7% {
    transform: skew(-0.5deg, -0.9deg);
    opacity: 0.75;
  }
  10% {
    transform: none;
    opacity: 1;
  }
  27% {
    transform: none;
    opacity: 1;
  }
  30% {
    transform: skew(0.8deg, -0.1deg);
    opacity: 0.75;
  }
  35% {
    transform: none;
    opacity: 1;
  }
  52% {
    transform: none;
    opacity: 1;
  }
  55% {
    transform: skew(-1deg, 0.2deg);
    opacity: 0.75;
  }
  50% {
    transform: none;
    opacity: 1;
  }
  72% {
    transform: none;
    opacity: 1;
  }
  75% {
    transform: skew(0.4deg, 1deg);
    opacity: 0.75;
  }
  80% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}
@-webkit-keyframes glitch2 {
  0% {
    transform: none;
    opacity: 1;
  }
  7% {
    transform: skew(-0.5deg, -0.9deg);
    opacity: 0.75;
  }
  10% {
    transform: none;
    opacity: 1;
  }
  27% {
    transform: none;
    opacity: 1;
  }
  30% {
    transform: skew(0.8deg, -0.1deg);
    opacity: 0.75;
  }
  35% {
    transform: none;
    opacity: 1;
  }
  52% {
    transform: none;
    opacity: 1;
  }
  55% {
    transform: skew(5deg, 21deg);
    opacity: 0.3;
  }
  50% {
    transform: none;
    opacity: 1;
  }
  72% {
    transform: none;
    opacity: 1;
  }
  75% {
    transform: skew(-10deg, -21deg);
    opacity: 0.3;
  }
  80% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}
@keyframes glitch2 {
  0% {
    transform: none;
    opacity: 1;
  }
  7% {
    transform: skew(-0.5deg, -0.9deg);
    opacity: 0.75;
  }
  10% {
    transform: none;
    opacity: 1;
  }
  27% {
    transform: none;
    opacity: 1;
  }
  30% {
    transform: skew(0.8deg, -0.1deg);
    opacity: 0.75;
  }
  35% {
    transform: none;
    opacity: 1;
  }
  52% {
    transform: none;
    opacity: 1;
  }
  55% {
    transform: skew(5deg, 21deg);
    opacity: 0.3;
  }
  50% {
    transform: none;
    opacity: 1;
  }
  72% {
    transform: none;
    opacity: 1;
  }
  75% {
    transform: skew(-10deg, -21deg);
    opacity: 0.3;
  }
  80% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}
@-webkit-keyframes letterNeon {
  0% {
    color: #F8D233;
    text-shadow: 1px 10px 1px #63eafc;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #00ff6a;
  }
  20% {
    color: #F8D233;
    opacity: 1;
    text-shadow: 1px 10px 1px #63eafc;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #00ff6a;
  }
  100% {
    color: rgba(3, 0, 0, 0.7803921569);
    opacity: 2;
    transition: ease 1s;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #63FCFA;
    text-shadow: 1px 1px 1px #63FCFA;
  }
}
@keyframes letterNeon {
  0% {
    color: #F8D233;
    text-shadow: 1px 10px 1px #63eafc;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #00ff6a;
  }
  20% {
    color: #F8D233;
    opacity: 1;
    text-shadow: 1px 10px 1px #63eafc;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #00ff6a;
  }
  100% {
    color: rgba(3, 0, 0, 0.7803921569);
    opacity: 2;
    transition: ease 1s;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #63FCFA;
    text-shadow: 1px 1px 1px #63FCFA;
  }
}
@-webkit-keyframes letterNeon2 {
  0% {
    text-shadow: 0px 2px 54px #f7466c;
    color: #0e0e0e;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #f7466c;
  }
  100% {
    color: #791A18;
    transition: ease 1s;
  }
}
@keyframes letterNeon2 {
  0% {
    text-shadow: 0px 2px 54px #f7466c;
    color: #0e0e0e;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #f7466c;
  }
  100% {
    color: #791A18;
    transition: ease 1s;
  }
}
.header {
  flex-direction: column;
  display: flex;
  position: fixed;
  padding: 1.5rem 0;
  margin: 0 auto;
  height: 110vh;
  align-items: center;
  background: none;
  z-index: 1000;
  justify-content: center;
  width: 10vw;
  margin: 0 auto;
}
@media (max-width: 375px) {
  .header {
    position: fixed;
    display: flex;
    width: 100vw;
    height: 99px;
    bottom: 0px;
    background: #0e0e0e;
  }
}
.header-brand {
  position: absolute;
  top: 20px;
  color: #f7466c;
  padding: 30px 20px;
  font-weight: 400;
  font-family: "PT Sans" sans-serif;
  font-size: 1.5rem;
  border: 2px solid #f7466c;
  box-shadow: inset 1px 2px 6px #990101;
}
@media (max-width: 375px) {
  .header-brand {
    display: none;
  }
}
.header-brand:hover {
  color: rgba(3, 0, 0, 0.7803921569);
  background: #f7466c;
  border: 2px solid #f7466c;
  text-decoration: line-through;
}
.header-navbar ul {
  height: 100%;
  flex-direction: column;
  border: 2px solid #f7466c;
  box-shadow: inset 1px 2px 6px #990101;
  padding: 3rem 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 375px) {
  .header-navbar ul {
    flex-direction: row;
    padding: 1px;
  }
}
.header-navbar ul li {
  margin: 2rem;
  font-size: 1.1rem;
}
.header-navbar ul li i {
  cursor: pointer;
  transition: 0.8s;
  color: #f7466c;
}
.header-navbar ul li i:hover {
  transform: scale(1.14);
  transition: 0.6s ease;
  color: #F8D233;
  text-shadow: 1px 1px 3px #ffbb00;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(3, 0, 0, 0.7803921569);
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
.home .home-title {
  font-size: 11rem;
  font-style: italic;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #f7466c;
  text-shadow: 0px 2px 1px rgba(255, 0, 85, 0.2941176471);
  font-weight: 900;
  cursor: pointer;
  transition: ease 1s;
}
@media (max-width: 375px) {
  .home .home-title {
    font-size: 4rem;
  }
}
.home .home-title .letterNeon {
  color: rgba(3, 0, 0, 0.7803921569);
}
.home .home-title .letterNeon:hover {
  -webkit-animation: letterNeon 1s forwards;
          animation: letterNeon 1s forwards;
}
.home .home-subtitle {
  font-size: 4rem;
  cursor: pointer;
  font-weight: 300;
  font-family: "Kanit", sans-serif;
}
@media (max-width: 375px) {
  .home .home-subtitle {
    font-size: 2rem;
  }
}
.home .home-subtitle .letterNeon {
  color: #f7466c;
  text-shadow: 0px 2px 30px #990101;
}
.home .home-subtitle .letterNeon:hover {
  color: black;
  background-color: #f7466c;
  transition: none;
}
.home .text {
  color: #63eafc;
  font-weight: 400;
  text-transform: uppercase;
  margin: 4px 10px;
  line-height: 40px;
}
.home .home-btn {
  margin: 30px;
  transition: 0.5s;
  cursor: pointer;
  font-weight: 400;
  font-size: 1.5rem;
  width: 105px;
  height: 55px;
  border: none;
  background: none;
  color: #f7466c;
  border: 1px solid #f7466c;
  text-align: center;
  cursor: pointer;
}
.home .home-btn:hover {
  width: 200px;
  transition: 0.2s;
  background: #f7466c;
  color: rgba(3, 0, 0, 0.7803921569);
  font-weight: 400;
  border: 1px inset #f7466c;
  --curve-size: .5em;
  --border-width: .125em;
  -webkit-clip-path: polygon(0% var(--curve-size), var(--curve-size) 0, 100% 0, 100% calc(100% - var(--curve-size)), calc(100% - var(--curve-size)) 100%, 0 100%);
          clip-path: polygon(0% var(--curve-size), var(--curve-size) 0, 100% 0, 100% calc(100% - var(--curve-size)), calc(100% - var(--curve-size)) 100%, 0 100%);
}
.home .app-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* fundo do player */
 *
 *  .player 
 *      background-color: #c41515
 *      padding: 10px 50px
 *      width: 414px
 *      max-width: 100%
 *      border-radius: 16px
 *      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2) */
/* capas */
 *
 *      .song-img 
 *          position: relative
 *          display: block
 *          margin: 0 auto
 *          width: 300px
 *          background-color: #FE4880
 *          border-radius: 2%
 *          box-shadow: 0px 2px 20px rgba(243, 243, 235, 0.6)
 *          margin-bottom: 50px
 *          background-position: center
 *          background-size: cover
 *          background-repeat: no-repeat
 *          &:after
 *             content: ''
 *             padding-top: 100%
 *             display: block
 *             // contorno nenon da imagem
 *             &:before
 *                content: ''
 *                display: block
 *                position: absolute
 *                top: -20px
 *                left: -20px
 *                right: -20px
 *                bottom: -20px
 *                border: 2px solid #E300c4
 *                border-radius: 2%
 *      .song-details 
 *          text-align: center
 *          margin-bottom: 30px
 *
 *          h2
 *             font-size: 24px
 *             font-weight: 600
 *             color: #ffffff
 *             margin-bottom: 5px
 *             h3 
 *                font-size: 16px
 *                font-weight: 500
 *                color: #888
 *       .player-controls
 *          display: flex
 *          align-items: center
 *          justify-content: center
 *          margin-bottom: 30px
 *          .play 
 *             display: flex
 *             align-items: center
 *             justify-content: center
 *             width: 75px
 *             height: 75px
 *             border-radius: 50%
 *             background-color: #f4f84d
 *             color: #101010
 *             margin: 0 30px
 *
 *             border: none
 *             appearance: none
 *             outline: none
 *             cursor: pointer
 *             transition: 0.4s
 *             &:hover 
 *                box-shadow: 0px 2px 20px rgba(243, 243, 235, 0.6)
 *             .skip-btn
 *                background: none
 *                border: none
 *                appearance: none
 *                cursor: pointer
 *                outline: none                  
 *                color: #CCC
 *
 *
 *
 *
 *
 *       .next-up p 
 *          color: #888
 *          text-align: center
 *          font-weight: 500
 *          font-size: 16px
 *          span 
 *             font-weight: 400
 *             font-style: italic */
.about {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
@media (max-width: 375px) {
  .about {
    height: 100vh;
  }
}
.about .about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
}
@media (max-width: 375px) {
  .about .about-container {
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 1fr;
  }
}
.about .about-container .about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background: #F8D233;
  border: 1px solid #ffbb00;
  box-shadow: 1px 1px 10px #ffbb00;
  width: 45vw;
  padding: 5pc;
  gap: 5rem;
  --curve-size: 2em;
  -webkit-clip-path: polygon(0% var(--curve-size), var(--curve-size) 0, 100% 0, 100% calc(100% - var(--curve-size)), calc(100% - var(--curve-size)) 100%, 0 100%);
          clip-path: polygon(0% var(--curve-size), var(--curve-size) 0, 100% 0, 100% calc(100% - var(--curve-size)), calc(100% - var(--curve-size)) 100%, 0 100%);
}
@media (max-width: 375px) {
  .about .about-container .about-content {
    width: 81vw;
    display: flex;
    flex-direction: column;
  }
}
.about .about-container .about-content .title-page {
  font-style: italic;
  font-size: 3rem;
  color: #000841;
}
.about .about-container .about-content .about-btn {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 18px;
}
.about .about-container .about-content .about-btn .paragraph-page {
  font-size: 1rem;
  font-weight: 500;
  color: #000841;
  text-align: justify;
}
.about .about-container .about-content .about-btn .btn-cv {
  background: #000841;
  color: #f7f7f7;
  border: 1px solid #000841;
  padding: 10px;
  font-size: 14px;
  font-weight: 500;
  --curve-size: .4em;
  --border-width: .125em;
  -webkit-clip-path: polygon(0% var(--curve-size), var(--curve-size) 0, 100% 0, 100% calc(100% - var(--curve-size)), calc(100% - var(--curve-size)) 100%, 0 100%);
          clip-path: polygon(0% var(--curve-size), var(--curve-size) 0, 100% 0, 100% calc(100% - var(--curve-size)), calc(100% - var(--curve-size)) 100%, 0 100%);
}
.about .about-container .about-content .about-btn .btn-cv:hover {
  background: #ffbb00;
  color: rgba(3, 0, 0, 0.7803921569);
  border: 1px solid #000841;
  font-weight: 500;
}
.about .about-container .about-content .about-btn .about-socials {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 10px;
}
.about .about-container .about-content .about-btn .about-socials i {
  color: black;
  font-size: 17px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 100%;
}
.about .about-container .about-content .about-btn .about-socials i:hover {
  background: #ffbb00;
  color: #000841;
}
.about .about-container .about-tools {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 1px;
}
.about .about-container .about-tools .title-page-tools {
  text-align: start;
  font-size: 4rem;
  rotate: 90deg;
  -webkit-text-decoration: line-through 4px solid #f7466c;
          text-decoration: line-through 4px solid #f7466c;
  color: #63eafc;
}
@media (max-width: 375px) {
  .about .about-container .about-tools .title-page-tools {
    font-size: 3rem;
  }
}
.about .about-container .about-tools-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 5px;
}
.about .about-container .about-tools-card .tools {
  display: flex;
  justify-content: center;
  background: #0e0e0e;
  border: 1px solid #63eafc;
  padding: 25px 40px;
  font-size: 1.4rem;
  color: #63eafc;
  background: linear-gradient(180deg, rgba(0, 54, 56, 0.66) 0%, rgba(0, 54, 56, 0.12) 100%);
}
.about .about-container .about-tools-card .tools:hover {
  background: linear-gradient(180deg, rgba(0, 54, 56, 0.911) 0%, rgba(0, 54, 56, 0.411) 100%);
  color: #f7466c;
}

.project {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
@media (max-width: 375px) {
  .project {
    height: 250vh;
  }
}
.project .project-container {
  display: flex;
}
.project .project-container .project-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 8px;
}
@media (max-width: 375px) {
  .project .project-container .project-content {
    display: grid;
    grid-template-columns: 1fr;
  }
}
.project .project-container .project-content .project-title {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7466c;
  --curve-size: .9em;
  --border-width: .125em;
  -webkit-clip-path: polygon(-80% var(--curve-size), var(--curve-size) 0, 100% 0, 100% calc(100% - var(--curve-size)), calc(100% - var(--curve-size)) 100%, 0 100%);
          clip-path: polygon(-80% var(--curve-size), var(--curve-size) 0, 100% 0, 100% calc(100% - var(--curve-size)), calc(100% - var(--curve-size)) 100%, 0 100%);
  box-shadow: 1px 2px 10px #990101;
  height: 60px;
}
@media (max-width: 375px) {
  .project .project-container .project-content .project-title {
    display: flex;
    justify-content: center;
  }
}
.project .project-container .project-content .project-title .title {
  text-align: center;
  margin: 10px;
  font-size: 1.7rem;
  letter-spacing: 0.2em;
  font-weight: 400;
  color: rgba(3, 0, 0, 0.7803921569);
  -webkit-animation: glitch1 1s infinite;
          animation: glitch1 1s infinite;
}
@media (max-width: 375px) {
  .project .project-container .project-content .project-title .title {
    font-size: 3rem;
  }
}
.project .project-container .project-content .project-title i {
  font-size: 30px;
  color: rgba(3, 0, 0, 0.7803921569);
  -webkit-animation: alert 1s infinite;
          animation: alert 1s infinite;
}
.project .project-container .project-content .project-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 20rem;
  height: 10rem;
  cursor: pointer;
  border-left: 7px solid #63eafc;
  --curve-size: 2em;
  --border-width: .125em;
  -webkit-clip-path: polygon(-110% var(--curve-size), var(--curve-size) 0, 100% 0, 100% calc(100% - var(--curve-size)), calc(100% - var(--curve-size)) 100%, 0 100%);
          clip-path: polygon(-110% var(--curve-size), var(--curve-size) 0, 100% 0, 100% calc(100% - var(--curve-size)), calc(100% - var(--curve-size)) 100%, 0 100%);
}
.project .project-container .project-content .project-card:hover {
  transition: 0.1s;
  scale: 1.033;
}
.project .project-container .project-content .project-card:nth-child(2) {
  background-image: url("../Img/baerLogoGlass.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.6s;
}
.project .project-container .project-content .project-card:nth-child(2):hover {
  background-image: url("../Img/tumb1.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.6s;
}
.project .project-container .project-content .project-card:nth-child(2):hover::before {
  content: "";
  letter-spacing: 0.1em;
  position: absolute;
  bottom: 8px;
  left: 25px;
  color: white;
  text-shadow: 1px 1px 2px #63eafc;
  border: 1px solid #63eafc;
  font-size: 0.8em;
  font-weight: bold;
  background-color: rgba(3, 0, 0, 0.7803921569);
  padding: 10px;
  -webkit-animation: glitch1 1s forwards;
          animation: glitch1 1s forwards;
  --curve-size: .4em;
  --border-width: .125em;
  -webkit-clip-path: polygon(0% var(--curve-size), var(--curve-size) 0, 100% 0, 100% calc(100% - var(--curve-size)), calc(100% - var(--curve-size)) 100%, 0 100%);
          clip-path: polygon(0% var(--curve-size), var(--curve-size) 0, 100% 0, 100% calc(100% - var(--curve-size)), calc(100% - var(--curve-size)) 100%, 0 100%);
  content: "Baer Garage Detail";
}
.project .project-container .project-content .project-card:nth-child(3) {
  background-image: url("../Img/cakeGlass.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.6s;
}
.project .project-container .project-content .project-card:nth-child(3):hover {
  background-image: url("../Img/cupcake.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.6s;
}
.project .project-container .project-content .project-card:nth-child(3):hover::before {
  content: "";
  letter-spacing: 0.1em;
  position: absolute;
  bottom: 8px;
  left: 25px;
  color: white;
  text-shadow: 1px 1px 2px #63eafc;
  border: 1px solid #63eafc;
  font-size: 0.8em;
  font-weight: bold;
  background-color: rgba(3, 0, 0, 0.7803921569);
  padding: 10px;
  -webkit-animation: glitch1 1s forwards;
          animation: glitch1 1s forwards;
  --curve-size: .4em;
  --border-width: .125em;
  -webkit-clip-path: polygon(0% var(--curve-size), var(--curve-size) 0, 100% 0, 100% calc(100% - var(--curve-size)), calc(100% - var(--curve-size)) 100%, 0 100%);
          clip-path: polygon(0% var(--curve-size), var(--curve-size) 0, 100% 0, 100% calc(100% - var(--curve-size)), calc(100% - var(--curve-size)) 100%, 0 100%);
  content: "Confeitaria Cupcake";
}
.project .project-container .project-content .project-card:nth-child(4) {
  background-image: url("../Img/steakGlass.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.6s;
}
.project .project-container .project-content .project-card:nth-child(4):hover {
  background-image: url("../Img/steakTumb.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.6s;
}
.project .project-container .project-content .project-card:nth-child(4):hover::before {
  content: "";
  letter-spacing: 0.1em;
  position: absolute;
  bottom: 8px;
  left: 25px;
  color: white;
  text-shadow: 1px 1px 2px #63eafc;
  border: 1px solid #63eafc;
  font-size: 0.8em;
  font-weight: bold;
  background-color: rgba(3, 0, 0, 0.7803921569);
  padding: 10px;
  -webkit-animation: glitch1 1s forwards;
          animation: glitch1 1s forwards;
  --curve-size: .4em;
  --border-width: .125em;
  -webkit-clip-path: polygon(0% var(--curve-size), var(--curve-size) 0, 100% 0, 100% calc(100% - var(--curve-size)), calc(100% - var(--curve-size)) 100%, 0 100%);
          clip-path: polygon(0% var(--curve-size), var(--curve-size) 0, 100% 0, 100% calc(100% - var(--curve-size)), calc(100% - var(--curve-size)) 100%, 0 100%);
  content: "SteakBurguer";
}
.project .project-container .project-content .project-card:nth-child(5) {
  background-image: url("../Img/marionGlass.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.6s;
}
.project .project-container .project-content .project-card:nth-child(5):hover {
  background-image: url("../Img/marioTumb.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.6s;
}
.project .project-container .project-content .project-card:nth-child(5):hover::before {
  content: "";
  letter-spacing: 0.1em;
  position: absolute;
  bottom: 8px;
  left: 25px;
  color: white;
  text-shadow: 1px 1px 2px #63eafc;
  border: 1px solid #63eafc;
  font-size: 0.8em;
  font-weight: bold;
  background-color: rgba(3, 0, 0, 0.7803921569);
  padding: 10px;
  -webkit-animation: glitch1 1s forwards;
          animation: glitch1 1s forwards;
  --curve-size: .4em;
  --border-width: .125em;
  -webkit-clip-path: polygon(0% var(--curve-size), var(--curve-size) 0, 100% 0, 100% calc(100% - var(--curve-size)), calc(100% - var(--curve-size)) 100%, 0 100%);
          clip-path: polygon(0% var(--curve-size), var(--curve-size) 0, 100% 0, 100% calc(100% - var(--curve-size)), calc(100% - var(--curve-size)) 100%, 0 100%);
  content: "Mario Jump";
}
.project .project-container .project-content .project-card:nth-child(6) {
  background-image: url("../Img/todoGlass.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.6s;
}
.project .project-container .project-content .project-card:nth-child(6):hover {
  background-image: url("../Img/todoTumb.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.6s;
}
.project .project-container .project-content .project-card:nth-child(6):hover::before {
  content: "";
  letter-spacing: 0.1em;
  position: absolute;
  bottom: 8px;
  left: 25px;
  color: white;
  text-shadow: 1px 1px 2px #63eafc;
  border: 1px solid #63eafc;
  font-size: 0.8em;
  font-weight: bold;
  background-color: rgba(3, 0, 0, 0.7803921569);
  padding: 10px;
  -webkit-animation: glitch1 1s forwards;
          animation: glitch1 1s forwards;
  --curve-size: .4em;
  --border-width: .125em;
  -webkit-clip-path: polygon(0% var(--curve-size), var(--curve-size) 0, 100% 0, 100% calc(100% - var(--curve-size)), calc(100% - var(--curve-size)) 100%, 0 100%);
          clip-path: polygon(0% var(--curve-size), var(--curve-size) 0, 100% 0, 100% calc(100% - var(--curve-size)), calc(100% - var(--curve-size)) 100%, 0 100%);
  content: "To Do List";
}
.project .project-container .project-content .project-card:nth-child(7) {
  background-image: url("../Img/senhaGlass.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.6s;
}
.project .project-container .project-content .project-card:nth-child(7):hover {
  background-image: url("../Img/senha.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.6s;
}
.project .project-container .project-content .project-card:nth-child(7):hover::before {
  content: "";
  letter-spacing: 0.1em;
  position: absolute;
  bottom: 8px;
  left: 25px;
  color: white;
  text-shadow: 1px 1px 2px #63eafc;
  border: 1px solid #63eafc;
  font-size: 0.8em;
  font-weight: bold;
  background-color: rgba(3, 0, 0, 0.7803921569);
  padding: 10px;
  -webkit-animation: glitch1 1s forwards;
          animation: glitch1 1s forwards;
  --curve-size: .4em;
  --border-width: .125em;
  -webkit-clip-path: polygon(0% var(--curve-size), var(--curve-size) 0, 100% 0, 100% calc(100% - var(--curve-size)), calc(100% - var(--curve-size)) 100%, 0 100%);
          clip-path: polygon(0% var(--curve-size), var(--curve-size) 0, 100% 0, 100% calc(100% - var(--curve-size)), calc(100% - var(--curve-size)) 100%, 0 100%);
  content: "Gerador de Senhas";
}
.project .project-container .project-content .project-card:nth-child(8) {
  background-image: url("../Img/checkGlass.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.6s;
}
.project .project-container .project-content .project-card:nth-child(8):hover {
  background-image: url("../Img/checkyellow.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.6s;
}
.project .project-container .project-content .project-card:nth-child(8):hover::before {
  content: "";
  letter-spacing: 0.1em;
  position: absolute;
  bottom: 8px;
  left: 25px;
  color: white;
  text-shadow: 1px 1px 2px #63eafc;
  border: 1px solid #63eafc;
  font-size: 0.8em;
  font-weight: bold;
  background-color: rgba(3, 0, 0, 0.7803921569);
  padding: 10px;
  -webkit-animation: glitch1 1s forwards;
          animation: glitch1 1s forwards;
  --curve-size: .4em;
  --border-width: .125em;
  -webkit-clip-path: polygon(0% var(--curve-size), var(--curve-size) 0, 100% 0, 100% calc(100% - var(--curve-size)), calc(100% - var(--curve-size)) 100%, 0 100%);
          clip-path: polygon(0% var(--curve-size), var(--curve-size) 0, 100% 0, 100% calc(100% - var(--curve-size)), calc(100% - var(--curve-size)) 100%, 0 100%);
  content: "Check List - CRUD";
}
.project .project-container .project-content .project-card:nth-child(9) {
  background-image: url("../Img/powerGlass.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.6s;
}
.project .project-container .project-content .project-card:nth-child(9):hover {
  background-image: url("../Img/powerbi.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.6s;
}
.project .project-container .project-content .project-card:nth-child(9):hover::before {
  content: "";
  letter-spacing: 0.1em;
  position: absolute;
  bottom: 8px;
  left: 25px;
  color: white;
  text-shadow: 1px 1px 2px #63eafc;
  border: 1px solid #63eafc;
  font-size: 0.8em;
  font-weight: bold;
  background-color: rgba(3, 0, 0, 0.7803921569);
  padding: 10px;
  -webkit-animation: glitch1 1s forwards;
          animation: glitch1 1s forwards;
  --curve-size: .4em;
  --border-width: .125em;
  -webkit-clip-path: polygon(0% var(--curve-size), var(--curve-size) 0, 100% 0, 100% calc(100% - var(--curve-size)), calc(100% - var(--curve-size)) 100%, 0 100%);
          clip-path: polygon(0% var(--curve-size), var(--curve-size) 0, 100% 0, 100% calc(100% - var(--curve-size)), calc(100% - var(--curve-size)) 100%, 0 100%);
  content: "Dashboards Microsoft Power";
}
.project .project-container .project-content .project-card .link-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(5, 255, 226, 0);
  width: 2.5rem;
  height: 15rem;
}
.project .project-container .project-content .project-card .link-project i {
  color: #313131;
  font-size: 1.2rem;
  padding: 5px;
  margin-top: 10px;
  border: 1px solid #313131;
  border-radius: 100%;
}
.project .project-container .project-content .project-card .link-project i:hover {
  background: #f7466c;
  border: 1px solid #63eafc;
  color: #f7f7f7;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: #F8D233;
}
@media (max-width: 375px) {
  .contact {
    height: 100vh;
    justify-content: center;
  }
}
.contact .contact-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
@media (max-width: 375px) {
  .contact .contact-container {
    margin: 40px;
    margin-bottom: 30%;
  }
}
.contact .contact-container .contact-title {
  display: flex;
  flex-direction: column;
}
@media (max-width: 375px) {
  .contact .contact-container .contact-title {
    gap: 20px;
  }
}
.contact .contact-container .contact-title .title-contato {
  font-size: 5rem;
  font-weight: 900;
  color: rgba(3, 0, 0, 0.7803921569);
  line-height: 60px;
}
@media (max-width: 375px) {
  .contact .contact-container .contact-title .title-contato {
    font-size: 3.4rem;
  }
}
.contact .contact-container .contact-title h3 {
  font-size: 2rem;
  font-weight: 700;
  color: rgba(3, 0, 0, 0.7803921569);
}
@media (max-width: 375px) {
  .contact .contact-container .contact-title h3 {
    font-size: 1rem;
  }
}
.contact .contact-container .contact-title i {
  margin-right: 6px;
  font-size: 1.8rem;
  color: #f7466c;
}
@media (max-width: 375px) {
  .contact .contact-container .contact-title i {
    font-size: 20px;
  }
}
.contact .contact-container .contact-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 55px;
  gap: 10px;
  background: rgba(0, 0, 0, 0.7333333333);
  border: 3px solid #63eafc;
  justify-items: start;
  -webkit-animation: glitch1 3s infinite;
          animation: glitch1 3s infinite;
}
.contact .contact-container .contact-form form:hover {
  -webkit-animation: none;
          animation: none;
}
.contact .contact-container .contact-form form [type=submit] {
  background: #63eafc;
  border: 1px solid rgba(252, 252, 3, 0);
  font-weight: 500;
  color: #313131;
  --curve-size: 1em;
  --border-width: .125em;
  -webkit-clip-path: polygon(0% var(--curve-size), var(--curve-size) 0, 100% 0, 100% calc(100% - var(--curve-size)), calc(100% - var(--curve-size)) 100%, 0 100%);
          clip-path: polygon(0% var(--curve-size), var(--curve-size) 0, 100% 0, 100% calc(100% - var(--curve-size)), calc(100% - var(--curve-size)) 100%, 0 100%);
}
.contact .contact-container .contact-form form [type=submit]:hover {
  background: rgba(8, 108, 121, 0.5333333333);
  color: #63eafc;
  font-weight: 500;
  border: 1px solid #63eafc;
}
.contact .contact-container .contact-form input {
  width: 13rem;
  height: 50px;
  font-size: 1em;
  background: rgba(0, 0, 0, 0.7333333333);
  border-left: 3px solid #63eafc;
  --curve-size: 1.4em;
  padding: 10px;
  -webkit-clip-path: polygon(-200% var(--curve-size), var(--curve-size) 0, 100% 0, 100% calc(100% - var(--curve-size)), calc(100% - var(--curve-size)) 100%, 0 100%);
          clip-path: polygon(-200% var(--curve-size), var(--curve-size) 0, 100% 0, 100% calc(100% - var(--curve-size)), calc(100% - var(--curve-size)) 100%, 0 100%);
  color: #63eafc;
  text-shadow: 1px 1px 6px #63eafc;
}
.contact .contact-container .contact-form input::-moz-placeholder {
  font-weight: 300;
  letter-spacing: 0.1em;
  padding: 10px;
  border-radius: none;
  font-size: 14px;
  color: #63eafc;
  text-shadow: 1px 1px 6px #63eafc;
}
.contact .contact-container .contact-form input:-ms-input-placeholder {
  font-weight: 300;
  letter-spacing: 0.1em;
  padding: 10px;
  border-radius: none;
  font-size: 14px;
  color: #63eafc;
  text-shadow: 1px 1px 6px #63eafc;
}
.contact .contact-container .contact-form input::placeholder {
  font-weight: 300;
  letter-spacing: 0.1em;
  padding: 10px;
  border-radius: none;
  font-size: 14px;
  color: #63eafc;
  text-shadow: 1px 1px 6px #63eafc;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
  text-decoration: none;
}
*::-moz-selection {
  background-color: #f7466c;
  color: #63eafc;
}
*::selection {
  background-color: #f7466c;
  color: #63eafc;
}

html,
body {
  background-color: #151515;
  scroll-behavior: smooth;
  width: 100%;
  height: 100vh;
}
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 2px;
}
html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background: #63eafc;
}
html::-webkit-scrollbar:horizontal,
body::-webkit-scrollbar:horizontal {
  border-radius: 20px;
  height: 2px;
}
html a,
body a {
  color: #a8a8a8;
  text-decoration: none;
  transition: 0.4s;
}
html ul,
body ul {
  list-style: none;
}
html span,
body span {
  color: #FCEE0A;
}

.main {
  justify-content: center;
  transition: 1s;
  background: linear-gradient(90deg, #1f0a0e 0%, #040108 10.6%);
}/*# sourceMappingURL=style.css.map */