@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Saira:ital,wght@0,300;0,400;0,500;0,600;0,700;1,500&family=Titillium+Web:ital,wght@0,300;0,400;0,600;0,700;0,900;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
@-webkit-keyframes borderOf {
  0% {
    outline: 1px double #FF003C;
  }
  50% {
    outline: 7px double #FF003C;
  }
  100% {
    outline: 1px double #FF003C;
  }
}
@keyframes borderOf {
  0% {
    outline: 1px double #FF003C;
  }
  50% {
    outline: 7px double #FF003C;
  }
  100% {
    outline: 1px double #FF003C;
  }
}
@-webkit-keyframes alert {
  0% {
    color: #04070a;
  }
  50% {
    color: #FF003C;
    opacity: 2;
  }
  100% {
    color: #04070a;
  }
}
@keyframes alert {
  0% {
    color: #04070a;
  }
  50% {
    color: #FF003C;
    opacity: 2;
  }
  100% {
    color: #04070a;
  }
}
@-webkit-keyframes alertBackground {
  0% {
    background: #267a80;
  }
  50% {
    background: #FF003C;
  }
  100% {
    background: rgba(255, 0, 85, 0.2941176471);
  }
}
@keyframes alertBackground {
  0% {
    background: #267a80;
  }
  50% {
    background: #FF003C;
  }
  100% {
    background: rgba(255, 0, 85, 0.2941176471);
  }
}
@-webkit-keyframes glitch1 {
  0% {
    transform: none;
    opacity: 1;
  }
  7% {
    transform: skew(-0.5deg, -0.9deg);
    opacity: 0.75;
  }
  10% {
    transform: none;
    opacity: 1;
  }
  27% {
    transform: none;
    opacity: 1;
  }
  30% {
    transform: skew(0.8deg, -0.1deg);
    opacity: 0.75;
  }
  35% {
    transform: none;
    opacity: 1;
  }
  52% {
    transform: none;
    opacity: 1;
  }
  55% {
    transform: skew(-1deg, 0.2deg);
    opacity: 0.75;
  }
  50% {
    transform: none;
    opacity: 1;
  }
  72% {
    transform: none;
    opacity: 1;
  }
  75% {
    transform: skew(0.4deg, 1deg);
    opacity: 0.75;
  }
  80% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}
@keyframes glitch1 {
  0% {
    transform: none;
    opacity: 1;
  }
  7% {
    transform: skew(-0.5deg, -0.9deg);
    opacity: 0.75;
  }
  10% {
    transform: none;
    opacity: 1;
  }
  27% {
    transform: none;
    opacity: 1;
  }
  30% {
    transform: skew(0.8deg, -0.1deg);
    opacity: 0.75;
  }
  35% {
    transform: none;
    opacity: 1;
  }
  52% {
    transform: none;
    opacity: 1;
  }
  55% {
    transform: skew(-1deg, 0.2deg);
    opacity: 0.75;
  }
  50% {
    transform: none;
    opacity: 1;
  }
  72% {
    transform: none;
    opacity: 1;
  }
  75% {
    transform: skew(0.4deg, 1deg);
    opacity: 0.75;
  }
  80% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}
@-webkit-keyframes glitch2 {
  0% {
    transform: none;
    opacity: 1;
  }
  7% {
    transform: skew(-0.5deg, -0.9deg);
    opacity: 0.75;
  }
  10% {
    transform: none;
    opacity: 1;
  }
  27% {
    transform: none;
    opacity: 1;
  }
  30% {
    transform: skew(0.8deg, -0.1deg);
    opacity: 0.75;
  }
  35% {
    transform: none;
    opacity: 1;
  }
  52% {
    transform: none;
    opacity: 1;
  }
  55% {
    transform: skew(5deg, 21deg);
    opacity: 0.3;
  }
  50% {
    transform: none;
    opacity: 1;
  }
  72% {
    transform: none;
    opacity: 1;
  }
  75% {
    transform: skew(-10deg, -21deg);
    opacity: 0.3;
  }
  80% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}
@keyframes glitch2 {
  0% {
    transform: none;
    opacity: 1;
  }
  7% {
    transform: skew(-0.5deg, -0.9deg);
    opacity: 0.75;
  }
  10% {
    transform: none;
    opacity: 1;
  }
  27% {
    transform: none;
    opacity: 1;
  }
  30% {
    transform: skew(0.8deg, -0.1deg);
    opacity: 0.75;
  }
  35% {
    transform: none;
    opacity: 1;
  }
  52% {
    transform: none;
    opacity: 1;
  }
  55% {
    transform: skew(5deg, 21deg);
    opacity: 0.3;
  }
  50% {
    transform: none;
    opacity: 1;
  }
  72% {
    transform: none;
    opacity: 1;
  }
  75% {
    transform: skew(-10deg, -21deg);
    opacity: 0.3;
  }
  80% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}
@-webkit-keyframes letterNeon {
  0% {
    color: #FCEE09;
    text-shadow: 1px 10px 1px #00F0FF;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #00ff6a;
  }
  20% {
    color: #FCEE09;
    opacity: 1;
    text-shadow: 1px 10px 1px #00F0FF;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #00ff6a;
  }
  100% {
    color: #04070a;
    opacity: 2;
    transition: ease 1s;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #63FCFA;
    text-shadow: 1px 1px 1px #63FCFA;
  }
}
@keyframes letterNeon {
  0% {
    color: #FCEE09;
    text-shadow: 1px 10px 1px #00F0FF;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #00ff6a;
  }
  20% {
    color: #FCEE09;
    opacity: 1;
    text-shadow: 1px 10px 1px #00F0FF;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #00ff6a;
  }
  100% {
    color: #04070a;
    opacity: 2;
    transition: ease 1s;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #63FCFA;
    text-shadow: 1px 1px 1px #63FCFA;
  }
}
@-webkit-keyframes letterNeon2 {
  0% {
    text-shadow: 0px 2px 54px #FF003C;
    color: #0e0e0e;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #FF003C;
  }
  100% {
    color: #791A18;
    transition: ease 1s;
  }
}
@keyframes letterNeon2 {
  0% {
    text-shadow: 0px 2px 54px #FF003C;
    color: #0e0e0e;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #FF003C;
  }
  100% {
    color: #791A18;
    transition: ease 1s;
  }
}
.header {
  flex-direction: column;
  display: flex;
  position: fixed;
  padding: 1.5rem 0;
  margin: 0 auto;
  height: 110vh;
  align-items: center;
  background: none;
  z-index: 1000;
  justify-content: center;
  width: 10vw;
  margin: 0 auto;
}
@media (min-width: 375px) and (max-width: 480px) {
  .header {
    position: fixed;
    display: flex;
    width: 100vw;
    height: 10vh;
    bottom: 0px;
    background: #04070a;
    border: 2px solid #FF003C;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .header {
    position: fixed;
    display: flex;
    width: 100vw;
    height: 10vh;
    bottom: 0px;
    background: #04070a;
    border: 2px solid #FF003C;
  }
}
@media (min-width: 769px) and (max-width: 900px) {
  .header {
    position: fixed;
    display: flex;
    width: 100vw;
    height: 10vh;
    bottom: 0px;
    background: #04070a;
    border: 2px solid #FF003C;
  }
}
@media (min-width: 901px) and (max-width: 1024px) {
  .header {
    width: 13vw;
  }
}
.header-brand {
  position: absolute;
  top: 20px;
  color: #FF003C;
  padding: 10px 20px;
  font-weight: 400;
  font-size: 1.5rem;
  border: 2px solid #FF003C;
  box-shadow: inset 1px 2px 6px #990101;
}
@media (min-width: 375px) and (max-width: 480px) {
  .header-brand {
    display: none;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .header-brand {
    display: none;
  }
}
@media (min-width: 769px) and (max-width: 900px) {
  .header-brand {
    display: none;
  }
}
.header-brand:hover {
  color: #04070a;
  background: #FF003C;
  border: 2px solid #FF003C;
  text-decoration: line-through;
}
.header-navbar ul {
  height: 100%;
  flex-direction: column;
  border: 2px solid #FF003C;
  box-shadow: inset 1px 2px 6px #990101;
  padding: 3rem 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 375px) and (max-width: 480px) {
  .header-navbar ul {
    flex-direction: row;
    padding: 1px;
    border: none;
    box-shadow: none;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .header-navbar ul {
    flex-direction: row;
    padding: 1px;
    border: none;
    box-shadow: none;
  }
}
@media (min-width: 769px) and (max-width: 900px) {
  .header-navbar ul {
    flex-direction: row;
    padding: 1px;
    border: none;
    box-shadow: none;
  }
}
.header-navbar ul li {
  margin: 2rem;
  font-size: 1.1rem;
}
.header-navbar ul li i {
  cursor: pointer;
  transition: 0.8s;
  color: #FF003C;
}
.header-navbar ul li i:hover {
  transform: scale(1.14);
  transition: 0.6s ease;
  color: #FCEE09;
  text-shadow: 1px 1px 3px #ffbb00;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #04070a;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
.home .div-wrapper {
  display: grid;
  grid-template-columns: 2fr;
  grid-template-rows: 1fr;
  gap: 40px;
}
@media (min-width: 375px) and (max-width: 480px) {
  .home .div-wrapper {
    margin-bottom: 1rem;
  }
}
.home .div-wrapper .home-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home .div-wrapper .home-wrapper .home-title {
  font-size: 9rem;
  font-style: italic;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #FF003C;
  text-shadow: 0px 2px 1px rgba(255, 0, 85, 0.2941176471);
  font-weight: 900;
  cursor: pointer;
  transition: ease 1s;
}
@media (min-width: 375px) and (max-width: 480px) {
  .home .div-wrapper .home-wrapper .home-title {
    font-size: 4rem;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .home .div-wrapper .home-wrapper .home-title {
    font-size: 5rem;
  }
}
.home .div-wrapper .home-wrapper .home-title .letterNeon {
  color: #04070a;
}
.home .div-wrapper .home-wrapper .home-title .letterNeon:hover {
  -webkit-animation: letterNeon 1s forwards;
          animation: letterNeon 1s forwards;
}
.home .div-wrapper .home-wrapper .home-subtitle {
  font-size: 4rem;
  cursor: pointer;
  font-weight: 300;
  font-family: "Kanit", sans-serif;
}
@media (min-width: 375px) and (max-width: 480px) {
  .home .div-wrapper .home-wrapper .home-subtitle {
    font-size: 2rem;
  }
}
.home .div-wrapper .home-wrapper .home-subtitle .letterNeon {
  color: #FF003C;
  text-shadow: 0px 2px 30px #990101;
}
.home .div-wrapper .home-wrapper .home-subtitle .letterNeon:hover {
  color: black;
  background-color: #FF003C;
  transition: none;
}
.home .div-wrapper .home-wrapper .text {
  color: #00F0FF;
  font-weight: 400;
  text-transform: uppercase;
  margin: 4px 10px;
  line-height: 40px;
  text-shadow: 0px 1px 3px #00F0FF;
}
.home .div-wrapper .home-wrapper .home-btn {
  margin: 30px;
  transition: 0.5s;
  cursor: pointer;
  font-weight: 400;
  font-size: 1.5rem;
  width: 105px;
  height: 55px;
  border: none;
  background: #04070a;
  color: #FF003C;
  border: 1px solid #FF003C;
  text-align: center;
  cursor: pointer;
}
.home .div-wrapper .home-wrapper .home-btn:hover {
  width: 200px;
  transition: 0.2s;
  background: #FF003C;
  color: #04070a;
  font-weight: 400;
  border: 1px inset #FF003C;
  --curve-size: .5em;
  --border-width: .125em;
  -webkit-clip-path: polygon(0% var(--curve-size), var(--curve-size) 0, 100% 0, 100% calc(100% - var(--curve-size)), calc(100% - var(--curve-size)) 100%, 0 100%);
          clip-path: polygon(0% var(--curve-size), var(--curve-size) 0, 100% 0, 100% calc(100% - var(--curve-size)), calc(100% - var(--curve-size)) 100%, 0 100%);
}
.home .div-wrapper .app-wrapper {
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 375px) and (max-width: 480px) {
  .home .div-wrapper .app-wrapper {
    position: relative;
    margin-left: 10%;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .home .div-wrapper .app-wrapper {
    position: relative;
    margin-left: 10%;
  }
}
@media (min-width: 769px) and (max-width: 900px) {
  .home .div-wrapper .app-wrapper {
    position: relative;
    margin-left: 10%;
  }
}
.home .div-wrapper .app-wrapper .player {
  background: linear-gradient(180deg, #080404 0%, rgba(4, 19, 27, 0.781) 100%);
  border-left: 2px solid #FF003C;
  border-right: 2px solid #FF003C;
  padding: 10px;
  width: 324px;
  max-width: 100%;
  --curve-size: 3em;
  -webkit-clip-path: polygon(-800% var(--curve-size), var(--curve-size) 0, 100% 0, 100% calc(100% - var(--curve-size)), calc(100% - var(--curve-size)) 100%, 0 100%);
          clip-path: polygon(-800% var(--curve-size), var(--curve-size) 0, 100% 0, 100% calc(100% - var(--curve-size)), calc(100% - var(--curve-size)) 100%, 0 100%);
}
.home .div-wrapper .app-wrapper .player .song-details {
  text-align: center;
  margin-bottom: 15px;
  color: #00F0FF;
}
.home .div-wrapper .app-wrapper .player .song-details h2 {
  font-size: 24px;
  font-weight: 600;
  color: #FF003C;
  margin-bottom: 5px;
}
.home .div-wrapper .app-wrapper .player .song-details h2 h3 {
  font-size: 16px;
  font-weight: 500;
  color: #FF003C;
}
.home .div-wrapper .app-wrapper .player .player-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.home .div-wrapper .app-wrapper .player .player-controls .skip-btn {
  background: none;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  outline: none;
  color: #00F0FF;
}
.home .div-wrapper .app-wrapper .player .player-controls .play {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  font-size: 9px;
  border-radius: 50%;
  background-color: #00F0FF;
  color: #04070a;
  margin: 0 20px;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  cursor: pointer;
  transition: 0.4s;
}
.home .div-wrapper .app-wrapper .player .player-controls .play:hover {
  box-shadow: 0px 2px 10px #00F0FF;
}
.home .div-wrapper .app-wrapper .player .next-up p {
  color: #FF003C;
  text-shadow: 0px 1px 3px #FF003C;
  font-size: 0.8rem;
}
.home .div-wrapper .app-wrapper .player .next-up span {
  background-color: #00F0FF;
  color: #04070a;
  padding: 3px;
  text-shadow: 0px 1px 2px #00F0FF;
  font-size: 0.9rem;
  --curve-size: .4em;
  --border-width: .125em;
  -webkit-clip-path: polygon(-100% var(--curve-size), var(--curve-size) 0, 100% 0, 100% calc(100% - var(--curve-size)), calc(100% - var(--curve-size)) 100%, 0 100%);
          clip-path: polygon(-100% var(--curve-size), var(--curve-size) 0, 100% 0, 100% calc(100% - var(--curve-size)), calc(100% - var(--curve-size)) 100%, 0 100%);
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
@media (min-width: 375px) and (max-width: 480px) {
  .about {
    height: 160vh;
  }
}
@media (min-width: 901px) and (max-width: 1024px) {
  .about {
    height: 100vh;
  }
}
.about .about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
}
@media (min-width: 375px) and (max-width: 480px) {
  .about .about-container {
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 1fr;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .about .about-container {
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 1fr;
  }
}
@media (min-width: 769px) and (max-width: 900px) {
  .about .about-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
}
.about .about-container .about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background: #FCEE09;
  border: 1px solid #ffbb00;
  box-shadow: 1px 1px 10px #ffbb00;
  width: 45vw;
  padding: 5pc;
  gap: 5rem;
  --curve-size: 2em;
  -webkit-clip-path: polygon(0% var(--curve-size), var(--curve-size) 0, 100% 0, 100% calc(100% - var(--curve-size)), calc(100% - var(--curve-size)) 100%, 0 100%);
          clip-path: polygon(0% var(--curve-size), var(--curve-size) 0, 100% 0, 100% calc(100% - var(--curve-size)), calc(100% - var(--curve-size)) 100%, 0 100%);
}
@media (min-width: 375px) and (max-width: 480px) {
  .about .about-container .about-content {
    width: 81vw;
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .about .about-container .about-content {
    width: 91vw;
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 769px) and (max-width: 900px) {
  .about .about-container .about-content {
    width: 45vw;
    display: flex;
    flex-direction: column;
    padding: 4pc;
  }
}
@media (min-width: 901px) and (max-width: 1024px) {
  .about .about-container .about-content {
    margin-left: 7rem;
    width: 40vw;
    display: flex;
    flex-direction: column;
    padding: 4pc;
  }
}
@media (min-width: 1025px) and (max-width: 1200px) {
  .about .about-container .about-content {
    margin-left: 7rem;
    width: 50vw;
    display: flex;
    flex-direction: column;
    padding: 4pc;
  }
}
.about .about-container .about-content .title-page {
  font-style: italic;
  font-size: 4rem;
  color: #000841;
}
.about .about-container .about-content .about-btn {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 18px;
}
.about .about-container .about-content .about-btn .paragraph-page {
  font-size: 1rem;
  font-weight: 500;
  color: #000841;
  text-align: justify;
}
@media (min-width: 375px) and (max-width: 480px) {
  .about .about-container .about-content .about-btn .paragraph-page {
    width: 50vw;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .about .about-container .about-content .about-btn .paragraph-page {
    width: 80vw;
  }
}
@media (min-width: 769px) and (max-width: 900px) {
  .about .about-container .about-content .about-btn .paragraph-page {
    width: 30vw;
  }
}
.about .about-container .about-content .about-btn .btn-cv {
  background: #000841;
  color: #f7f7f7;
  border: 1px solid #000841;
  padding: 10px;
  font-size: 14px;
  font-weight: 500;
  --curve-size: .4em;
  --border-width: .125em;
  -webkit-clip-path: polygon(0% var(--curve-size), var(--curve-size) 0, 100% 0, 100% calc(100% - var(--curve-size)), calc(100% - var(--curve-size)) 100%, 0 100%);
          clip-path: polygon(0% var(--curve-size), var(--curve-size) 0, 100% 0, 100% calc(100% - var(--curve-size)), calc(100% - var(--curve-size)) 100%, 0 100%);
}
.about .about-container .about-content .about-btn .btn-cv:hover {
  background: #ffbb00;
  color: #04070a;
  border: 1px solid #000841;
  font-weight: 500;
}
.about .about-container .about-content .about-btn .about-socials {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 10px;
}
.about .about-container .about-content .about-btn .about-socials i {
  color: black;
  font-size: 17px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 100%;
}
.about .about-container .about-content .about-btn .about-socials i:hover {
  background: #ffbb00;
  color: #000841;
}
.about .about-container .about-tools {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 1px;
}
.about .about-container .about-tools .title-page-tools {
  text-align: start;
  font-size: 4rem;
  rotate: 90deg;
  -webkit-text-decoration: line-through 4px solid #FF003C;
          text-decoration: line-through 4px solid #FF003C;
  color: #00F0FF;
  text-shadow: 1px 2px 4px #00F0FF;
}
@media (min-width: 375px) and (max-width: 480px) {
  .about .about-container .about-tools .title-page-tools {
    font-size: 3rem;
  }
}
.about .about-container .about-tools-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 5px;
}
.about .about-container .about-tools-card .tools {
  display: flex;
  justify-content: center;
  background: #0e0e0e;
  border: 1px solid #00F0FF;
  padding: 25px 40px;
  font-size: 1.4rem;
  color: #00F0FF;
  background: linear-gradient(180deg, rgba(0, 54, 56, 0.66) 0%, rgba(0, 54, 56, 0.12) 100%);
}
.about .about-container .about-tools-card .tools:hover {
  background: linear-gradient(180deg, rgba(0, 54, 56, 0.911) 0%, rgba(0, 54, 56, 0.411) 100%);
  color: #FF003C;
}

.project {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
@media (min-width: 375px) and (max-width: 480px) {
  .project {
    height: 250vh;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .project {
    height: 200vh;
  }
}
@media (min-width: 901px) and (max-width: 1024px) {
  .project {
    height: 140vh;
  }
}
.project .project-container {
  display: flex;
}
@media (min-width: 1025px) and (max-width: 1200px) {
  .project .project-container {
    margin-left: 5rem;
  }
}
.project .project-container .project-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: flex-start;
  gap: 8px;
}
@media (min-width: 375px) and (max-width: 480px) {
  .project .project-container .project-content {
    display: grid;
    grid-template-columns: 1fr;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .project .project-container .project-content {
    display: grid;
    grid-template-columns: 1fr;
  }
}
@media (min-width: 769px) and (max-width: 900px) {
  .project .project-container .project-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 901px) and (max-width: 1024px) {
  .project .project-container .project-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1025px) and (max-width: 1200px) {
  .project .project-container .project-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.project .project-container .project-content .project-title {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, #080404 0%, rgba(3, 10, 14, 0.781) 80%);
  --curve-size: .9em;
  --border-width: .125em;
  -webkit-clip-path: polygon(-80% var(--curve-size), var(--curve-size) 0, 100% 0, 100% calc(100% - var(--curve-size)), calc(100% - var(--curve-size)) 100%, 0 100%);
          clip-path: polygon(-80% var(--curve-size), var(--curve-size) 0, 100% 0, 100% calc(100% - var(--curve-size)), calc(100% - var(--curve-size)) 100%, 0 100%);
  box-shadow: 2px 5px 10px #FF003C;
  height: 60px;
  border-left: 6px solid #FF003C;
  border-right: 3px solid #FF003C;
}
@media (min-width: 375px) and (max-width: 480px) {
  .project .project-container .project-content .project-title {
    display: flex;
    justify-content: center;
  }
}
.project .project-container .project-content .project-title .title {
  text-align: center;
  margin: 10px;
  font-size: 1.7rem;
  font-weight: 400;
  color: #FF003C;
  -webkit-animation: glitch1 1s infinite, alert 1s infinite;
          animation: glitch1 1s infinite, alert 1s infinite;
}
@media (min-width: 375px) and (max-width: 480px) {
  .project .project-container .project-content .project-title .title {
    font-size: 2rem;
  }
}
.project .project-container .project-content .project-title i {
  font-size: 30px;
  color: #04070a;
  -webkit-animation: alert 1s infinite;
          animation: alert 1s infinite;
}
.project .project-container .project-content .project-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 20rem;
  height: 10rem;
  cursor: pointer;
  border-left: 7px solid #00F0FF;
  --curve-size: 2em;
  --border-width: .125em;
  -webkit-clip-path: polygon(-110% var(--curve-size), var(--curve-size) 0, 100% 0, 100% calc(100% - var(--curve-size)), calc(100% - var(--curve-size)) 100%, 0 100%);
          clip-path: polygon(-110% var(--curve-size), var(--curve-size) 0, 100% 0, 100% calc(100% - var(--curve-size)), calc(100% - var(--curve-size)) 100%, 0 100%);
  filter: brightness(70%) contrast(110%);
}
@media (min-width: 1025px) and (max-width: 1200px) {
  .project .project-container .project-content .project-card {
    width: 16rem;
  }
}
.project .project-container .project-content .project-card:hover {
  transition: 0.1s;
  scale: 1.033;
}
.project .project-container .project-content .project-card:nth-child(2) {
  background-image: url("../Img/baerLogoGlass.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.6s;
}
.project .project-container .project-content .project-card:nth-child(2):hover {
  background-image: url("../Img/tumb1.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.6s;
}
.project .project-container .project-content .project-card:nth-child(2):hover::before {
  content: "";
  letter-spacing: 0.1em;
  position: absolute;
  bottom: 8px;
  left: 25px;
  color: white;
  text-shadow: 1px 1px 2px #00F0FF;
  border: 1px solid #00F0FF;
  font-size: 0.8em;
  font-weight: bold;
  background-color: #04070a;
  padding: 10px;
  -webkit-animation: glitch1 1s forwards;
          animation: glitch1 1s forwards;
  --curve-size: .4em;
  --border-width: .125em;
  -webkit-clip-path: polygon(0% var(--curve-size), var(--curve-size) 0, 100% 0, 100% calc(100% - var(--curve-size)), calc(100% - var(--curve-size)) 100%, 0 100%);
          clip-path: polygon(0% var(--curve-size), var(--curve-size) 0, 100% 0, 100% calc(100% - var(--curve-size)), calc(100% - var(--curve-size)) 100%, 0 100%);
  content: "Baer Garage Detail";
}
.project .project-container .project-content .project-card:nth-child(3) {
  background-image: url("../Img/cakeGlass.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.6s;
}
.project .project-container .project-content .project-card:nth-child(3):hover {
  background-image: url("../Img/cupcake.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.6s;
}
.project .project-container .project-content .project-card:nth-child(3):hover::before {
  content: "";
  letter-spacing: 0.1em;
  position: absolute;
  bottom: 8px;
  left: 25px;
  color: white;
  text-shadow: 1px 1px 2px #00F0FF;
  border: 1px solid #00F0FF;
  font-size: 0.8em;
  font-weight: bold;
  background-color: #04070a;
  padding: 10px;
  -webkit-animation: glitch1 1s forwards;
          animation: glitch1 1s forwards;
  --curve-size: .4em;
  --border-width: .125em;
  -webkit-clip-path: polygon(0% var(--curve-size), var(--curve-size) 0, 100% 0, 100% calc(100% - var(--curve-size)), calc(100% - var(--curve-size)) 100%, 0 100%);
          clip-path: polygon(0% var(--curve-size), var(--curve-size) 0, 100% 0, 100% calc(100% - var(--curve-size)), calc(100% - var(--curve-size)) 100%, 0 100%);
  content: "Confeitaria Cupcake";
}
.project .project-container .project-content .project-card:nth-child(4) {
  background-image: url("../Img/steakGlass.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.6s;
}
.project .project-container .project-content .project-card:nth-child(4):hover {
  background-image: url("../Img/steakTumb.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.6s;
}
.project .project-container .project-content .project-card:nth-child(4):hover::before {
  content: "";
  letter-spacing: 0.1em;
  position: absolute;
  bottom: 8px;
  left: 25px;
  color: white;
  text-shadow: 1px 1px 2px #00F0FF;
  border: 1px solid #00F0FF;
  font-size: 0.8em;
  font-weight: bold;
  background-color: #04070a;
  padding: 10px;
  -webkit-animation: glitch1 1s forwards;
          animation: glitch1 1s forwards;
  --curve-size: .4em;
  --border-width: .125em;
  -webkit-clip-path: polygon(0% var(--curve-size), var(--curve-size) 0, 100% 0, 100% calc(100% - var(--curve-size)), calc(100% - var(--curve-size)) 100%, 0 100%);
          clip-path: polygon(0% var(--curve-size), var(--curve-size) 0, 100% 0, 100% calc(100% - var(--curve-size)), calc(100% - var(--curve-size)) 100%, 0 100%);
  content: "SteakBurguer";
}
.project .project-container .project-content .project-card:nth-child(5) {
  background-image: url("../Img/marionGlass.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.6s;
}
.project .project-container .project-content .project-card:nth-child(5):hover {
  background-image: url("../Img/marioTumb.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.6s;
}
.project .project-container .project-content .project-card:nth-child(5):hover::before {
  content: "";
  letter-spacing: 0.1em;
  position: absolute;
  bottom: 8px;
  left: 25px;
  color: white;
  text-shadow: 1px 1px 2px #00F0FF;
  border: 1px solid #00F0FF;
  font-size: 0.8em;
  font-weight: bold;
  background-color: #04070a;
  padding: 10px;
  -webkit-animation: glitch1 1s forwards;
          animation: glitch1 1s forwards;
  --curve-size: .4em;
  --border-width: .125em;
  -webkit-clip-path: polygon(0% var(--curve-size), var(--curve-size) 0, 100% 0, 100% calc(100% - var(--curve-size)), calc(100% - var(--curve-size)) 100%, 0 100%);
          clip-path: polygon(0% var(--curve-size), var(--curve-size) 0, 100% 0, 100% calc(100% - var(--curve-size)), calc(100% - var(--curve-size)) 100%, 0 100%);
  content: "Mario Jump";
}
.project .project-container .project-content .project-card:nth-child(6) {
  background-image: url("../Img/todoGlass.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.6s;
}
.project .project-container .project-content .project-card:nth-child(6):hover {
  background-image: url("../Img/todoTumb.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.6s;
}
.project .project-container .project-content .project-card:nth-child(6):hover::before {
  content: "";
  letter-spacing: 0.1em;
  position: absolute;
  bottom: 8px;
  left: 25px;
  color: white;
  text-shadow: 1px 1px 2px #00F0FF;
  border: 1px solid #00F0FF;
  font-size: 0.8em;
  font-weight: bold;
  background-color: #04070a;
  padding: 10px;
  -webkit-animation: glitch1 1s forwards;
          animation: glitch1 1s forwards;
  --curve-size: .4em;
  --border-width: .125em;
  -webkit-clip-path: polygon(0% var(--curve-size), var(--curve-size) 0, 100% 0, 100% calc(100% - var(--curve-size)), calc(100% - var(--curve-size)) 100%, 0 100%);
          clip-path: polygon(0% var(--curve-size), var(--curve-size) 0, 100% 0, 100% calc(100% - var(--curve-size)), calc(100% - var(--curve-size)) 100%, 0 100%);
  content: "To Do List";
}
.project .project-container .project-content .project-card:nth-child(7) {
  background-image: url("../Img/senhaGlass.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.6s;
}
.project .project-container .project-content .project-card:nth-child(7):hover {
  background-image: url("../Img/senha.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.6s;
}
.project .project-container .project-content .project-card:nth-child(7):hover::before {
  content: "";
  letter-spacing: 0.1em;
  position: absolute;
  bottom: 8px;
  left: 25px;
  color: white;
  text-shadow: 1px 1px 2px #00F0FF;
  border: 1px solid #00F0FF;
  font-size: 0.8em;
  font-weight: bold;
  background-color: #04070a;
  padding: 10px;
  -webkit-animation: glitch1 1s forwards;
          animation: glitch1 1s forwards;
  --curve-size: .4em;
  --border-width: .125em;
  -webkit-clip-path: polygon(0% var(--curve-size), var(--curve-size) 0, 100% 0, 100% calc(100% - var(--curve-size)), calc(100% - var(--curve-size)) 100%, 0 100%);
          clip-path: polygon(0% var(--curve-size), var(--curve-size) 0, 100% 0, 100% calc(100% - var(--curve-size)), calc(100% - var(--curve-size)) 100%, 0 100%);
  content: "Gerador de Senhas";
}
.project .project-container .project-content .project-card:nth-child(8) {
  background-image: url("../Img/checkGlass.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.6s;
}
.project .project-container .project-content .project-card:nth-child(8):hover {
  background-image: url("../Img/checkyellow.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.6s;
}
.project .project-container .project-content .project-card:nth-child(8):hover::before {
  content: "";
  letter-spacing: 0.1em;
  position: absolute;
  bottom: 8px;
  left: 25px;
  color: white;
  text-shadow: 1px 1px 2px #00F0FF;
  border: 1px solid #00F0FF;
  font-size: 0.8em;
  font-weight: bold;
  background-color: #04070a;
  padding: 10px;
  -webkit-animation: glitch1 1s forwards;
          animation: glitch1 1s forwards;
  --curve-size: .4em;
  --border-width: .125em;
  -webkit-clip-path: polygon(0% var(--curve-size), var(--curve-size) 0, 100% 0, 100% calc(100% - var(--curve-size)), calc(100% - var(--curve-size)) 100%, 0 100%);
          clip-path: polygon(0% var(--curve-size), var(--curve-size) 0, 100% 0, 100% calc(100% - var(--curve-size)), calc(100% - var(--curve-size)) 100%, 0 100%);
  content: "Check List - CRUD";
}
.project .project-container .project-content .project-card:nth-child(9) {
  background-image: url("../Img/powerGlass.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.6s;
}
.project .project-container .project-content .project-card:nth-child(9):hover {
  background-image: url("../Img/powerbi.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.6s;
}
.project .project-container .project-content .project-card:nth-child(9):hover::before {
  content: "";
  letter-spacing: 0.1em;
  position: absolute;
  bottom: 8px;
  left: 25px;
  color: white;
  text-shadow: 1px 1px 2px #00F0FF;
  border: 1px solid #00F0FF;
  font-size: 0.8em;
  font-weight: bold;
  background-color: #04070a;
  padding: 10px;
  -webkit-animation: glitch1 1s forwards;
          animation: glitch1 1s forwards;
  --curve-size: .4em;
  --border-width: .125em;
  -webkit-clip-path: polygon(0% var(--curve-size), var(--curve-size) 0, 100% 0, 100% calc(100% - var(--curve-size)), calc(100% - var(--curve-size)) 100%, 0 100%);
          clip-path: polygon(0% var(--curve-size), var(--curve-size) 0, 100% 0, 100% calc(100% - var(--curve-size)), calc(100% - var(--curve-size)) 100%, 0 100%);
  content: "Dashboards Microsoft Power";
}
.project .project-container .project-content .project-card .link-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(5, 255, 226, 0);
  width: 2.5rem;
  height: 15rem;
}
.project .project-container .project-content .project-card .link-project i {
  color: #313131;
  font-size: 1.2rem;
  padding: 5px;
  margin-top: 10px;
  border: 1px solid #313131;
  border-radius: 100%;
}
.project .project-container .project-content .project-card .link-project i:hover {
  background: #FF003C;
  border: 1px solid #00F0FF;
  color: #f7f7f7;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: #FCEE09;
}
@media (min-width: 375px) and (max-width: 480px) {
  .contact {
    height: 150vh;
    justify-content: center;
  }
}
@media (min-width: 901px) and (max-width: 1024px) {
  .contact {
    height: 200vh;
  }
}
.contact .contact-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
@media (min-width: 375px) and (max-width: 480px) {
  .contact .contact-container {
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .contact .contact-container {
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .contact .contact-container {
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 901px) and (max-width: 1024px) {
  .contact .contact-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
@media (min-width: 1025px) and (max-width: 1200px) {
  .contact .contact-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
.contact .contact-container .contact-title {
  display: flex;
  flex-direction: column;
}
@media (min-width: 375px) and (max-width: 480px) {
  .contact .contact-container .contact-title {
    gap: 20px;
    display: flex;
    align-items: center;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .contact .contact-container .contact-title {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}
@media (min-width: 769px) and (max-width: 900px) {
  .contact .contact-container .contact-title {
    display: flex;
    align-items: flex-end;
    gap: 20px;
  }
}
@media (min-width: 901px) and (max-width: 1024px) {
  .contact .contact-container .contact-title {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}
@media (min-width: 1025px) and (max-width: 1200px) {
  .contact .contact-container .contact-title {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
.contact .contact-container .contact-title .title-contato {
  font-size: 5rem;
  font-weight: 900;
  color: #04070a;
  line-height: 60px;
}
@media (min-width: 375px) and (max-width: 480px) {
  .contact .contact-container .contact-title .title-contato {
    font-size: 3.4rem;
    text-align: center;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .contact .contact-container .contact-title .title-contato {
    font-size: 3.6rem;
    text-align: center;
  }
}
@media (min-width: 769px) and (max-width: 900px) {
  .contact .contact-container .contact-title .title-contato {
    font-size: 2.4rem;
    line-height: 10px;
    text-align: center;
  }
}
@media (min-width: 901px) and (max-width: 1024px) {
  .contact .contact-container .contact-title .title-contato {
    font-size: 4rem;
  }
}
@media (min-width: 1025px) and (max-width: 1200px) {
  .contact .contact-container .contact-title .title-contato {
    font-size: 4rem;
  }
}
.contact .contact-container .contact-title h3 {
  font-size: 2rem;
  font-weight: 700;
  color: #04070a;
}
@media (min-width: 375px) and (max-width: 480px) {
  .contact .contact-container .contact-title h3 {
    font-size: 1rem;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .contact .contact-container .contact-title h3 {
    font-size: 1.3rem;
  }
}
@media (min-width: 769px) and (max-width: 900px) {
  .contact .contact-container .contact-title h3 {
    font-size: 1.3rem;
  }
}
.contact .contact-container .contact-title i {
  margin-right: 6px;
  font-size: 1.8rem;
  color: #FF003C;
}
@media (min-width: 375px) and (max-width: 480px) {
  .contact .contact-container .contact-title i {
    font-size: 20px;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .contact .contact-container .contact-title i {
    font-size: 20px;
  }
}
.contact .contact-container .contact-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 55px;
  gap: 10px;
  background: rgba(0, 0, 0, 0.7333333333);
  border: 3px solid #00F0FF;
  justify-items: start;
  -webkit-animation: glitch1 3s infinite;
          animation: glitch1 3s infinite;
}
.contact .contact-container .contact-form form:hover {
  -webkit-animation: none;
          animation: none;
}
.contact .contact-container .contact-form form [type=submit] {
  background: #00F0FF;
  border: 1px solid rgba(252, 252, 3, 0);
  font-weight: 500;
  color: #313131;
  --curve-size: 1em;
  --border-width: .125em;
  -webkit-clip-path: polygon(0% var(--curve-size), var(--curve-size) 0, 100% 0, 100% calc(100% - var(--curve-size)), calc(100% - var(--curve-size)) 100%, 0 100%);
          clip-path: polygon(0% var(--curve-size), var(--curve-size) 0, 100% 0, 100% calc(100% - var(--curve-size)), calc(100% - var(--curve-size)) 100%, 0 100%);
}
.contact .contact-container .contact-form form [type=submit]:hover {
  background: rgba(8, 108, 121, 0.5333333333);
  color: #00F0FF;
  font-weight: 500;
  border: 1px solid #00F0FF;
}
.contact .contact-container .contact-form input {
  width: 13rem;
  height: 50px;
  font-size: 1em;
  background: rgba(0, 0, 0, 0.7333333333);
  border-left: 3px solid #00F0FF;
  --curve-size: 1.4em;
  padding: 10px;
  -webkit-clip-path: polygon(-200% var(--curve-size), var(--curve-size) 0, 100% 0, 100% calc(100% - var(--curve-size)), calc(100% - var(--curve-size)) 100%, 0 100%);
          clip-path: polygon(-200% var(--curve-size), var(--curve-size) 0, 100% 0, 100% calc(100% - var(--curve-size)), calc(100% - var(--curve-size)) 100%, 0 100%);
  color: #00F0FF;
  text-shadow: 1px 1px 6px #00F0FF;
}
.contact .contact-container .contact-form input::-moz-placeholder {
  font-weight: 300;
  letter-spacing: 0.1em;
  padding: 10px;
  border-radius: none;
  font-size: 14px;
  color: #00F0FF;
  text-shadow: 1px 1px 6px #00F0FF;
}
.contact .contact-container .contact-form input:-ms-input-placeholder {
  font-weight: 300;
  letter-spacing: 0.1em;
  padding: 10px;
  border-radius: none;
  font-size: 14px;
  color: #00F0FF;
  text-shadow: 1px 1px 6px #00F0FF;
}
.contact .contact-container .contact-form input::placeholder {
  font-weight: 300;
  letter-spacing: 0.1em;
  padding: 10px;
  border-radius: none;
  font-size: 14px;
  color: #00F0FF;
  text-shadow: 1px 1px 6px #00F0FF;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
  text-decoration: none;
}
*::-moz-selection {
  background-color: #FF003C;
  color: #00F0FF;
}
*::selection {
  background-color: #FF003C;
  color: #00F0FF;
}

html,
body {
  background-color: #151515;
  scroll-behavior: smooth;
  width: 100%;
  height: 100vh;
}
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 2px;
}
html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background: #00F0FF;
}
html::-webkit-scrollbar:horizontal,
body::-webkit-scrollbar:horizontal {
  border-radius: 20px;
  height: 2px;
}
html a,
body a {
  color: #a8a8a8;
  text-decoration: none;
  transition: 0.4s;
}
html ul,
body ul {
  list-style: none;
}
html span,
body span {
  color: #FCEE0A;
}

.main {
  justify-content: center;
  transition: 1s;
  background: linear-gradient(90deg, #200108 0%, #04070a 10.6%);
}/*# sourceMappingURL=style.css.map */